<div class="container-fluid bg-warning ">
    <div class="row justify-content-around">
        <div class="col-5">
            <div class="row p-4">
                <div class="border border-danger border-5 text-light">

                </div>
                <div class="row img-fluid">
                    <img src="https://pngimg.com/d/pokemon_PNG129.png" alt="pikachu pic">
                </div>
                <div class="border bg-danger text-light p-4">
                    <p>Heigh: 5'12"</p>
                    <p>Types: Electrical</p>
                    <p>Weight:200 lbs</p>
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="border p-3 text-light my-3 ">
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
                <p> <i class="mdi mdi-pokeball"></i> Loremapdum</p>
            </div>
            <div class="row justify-content-between my-5">
                <div class="col-3 border bg-success">
                    <button class="btn btn-success ">Previous</button>
                </div>
                <div class="col-3 border bg-success">
                    <button class="btn btn-success px-3"> Next </button>
                </div>
            </div>
        </div>
    </div>
</div>